<footer data-cta="hide">
  <div class="foot-in">
    <div class="foot-top">
      <img class="logo-img" src="/images/logo-tile-inv.png" alt="9·58">
      <div class="links"><a href="mailto:jmg@958.fr">jmg@958.fr</a><a href="#">LinkedIn</a><a href="#">Mentions légales</a></div>
    </div>
    <div class="foot-tilt">Formation IA : <a href="#">Ça fait Tilt®</a></div>
  </div>
</footer>
