<div class="manif" data-cta="hide">
  <div class="manif-track" id="manif-track">
    <div class="manif-pin">
      <div class="manif-in">
        <span class="ln">Diriger, ça a longtemps voulu dire tout porter.</span>
        <span class="ln">Le quotidien. Les urgences. L'administratif.</span>
        <span class="ln">Ce n'était pas un défaut. C'était la règle.</span>
        <span class="ln">Aujourd'hui, ce n'est plus une fatalité.</span>
        <span class="ln final">L'IA doit vous rendre <span class="aj">le travail que vous aimez.</span></span>
      </div>
      <div class="manif-hint mono">scroll</div>
    </div>
  </div>
</div>
