<div class="marquee" aria-hidden="true">
  <div class="track">
    <span>Artisans du bâtiment <i></i></span><span>Menuisiers <i></i></span><span>Promoteurs <i></i></span><span>Aménageurs fonciers <i></i></span><span>Agences immobilières <i></i></span><span>CGP <i></i></span><span>Syndics <i></i></span><span>Cuisinistes <i></i></span>
    <span>Artisans du bâtiment <i></i></span><span>Menuisiers <i></i></span><span>Promoteurs <i></i></span><span>Aménageurs fonciers <i></i></span><span>Agences immobilières <i></i></span><span>CGP <i></i></span><span>Syndics <i></i></span><span>Cuisinistes <i></i></span>
  </div>
</div>
